<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cusip">
    <mat-header-cell *matHeaderCellDef mat-sort-header>CUSIP</mat-header-cell>
    <mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element)">
      <div
      style="position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu"
      [matMenuTriggerData]="{element: element}"></div>{{ element.cusip }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="isin">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ISIN</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.isin}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="desc">
    <mat-header-cell *matHeaderCellDef mat-sort-header>DESC</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.desc }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="mDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Maturity Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.mDate | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="random">
    <mat-header-cell *matHeaderCellDef mat-sort-header>RANDOM</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.random}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="our">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Our Position</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.our }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="outside">
    <mat-header-cell *matHeaderCellDef mat-sort-header>OUTSIDE</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.outside}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="100" [pageSizeOptions]="[100,500,1000,2000]">
</mat-paginator>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="onContextMenuAction1(item)">Action 1</button>
    <button mat-menu-item (click)="onContextMenuAction2(item)">Action 2</button>
  </ng-template>
</mat-menu>

